name: bnb
channels:
  - conda-forge

dependencies:
  # Base
  - conda-forge::python=3.9
  # Libraries
  - conda-forge::accelerate
  - conda-forge::einops
  - conda-forge::scipy
  - conda-forge::transformers
  # Development
  - conda-forge::pytest
  - conda-forge::build        # build Python packages
  - conda-forge::twine        # upload Python packages
  - conda-forge::pytest-cases # more readable and composable parametrized tests
  - conda-forge::ipython      # better interactive shell
  - conda-forge::debugpy      # debugger-support for VSCode
  - conda-forge::ruff         # linting
  - conda-forge::yapf         # code formatting
  - conda-forge::monkeytype   # infer type annotations
  - conda-forge::rich         # better, colored tracebacks, etc
  - conda-forge::pytest-sugar # better pytest output
  # - conda-forge::nodejs       # for `doc-builder preview` (optional)

## ENV CREATION - steps to reproduce:
# conda create -n mypython39-rocm python=3.9
# install torch with ROCM 6.0 support
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/rocm6.0
# Install this repo
# python3 -m pip install ./bitsandbytes.tar.gz 
# install the rest of the dependencies

## PIP dependencies (install *after* ENV CREATION):
# pip install --no-cache-dir --no-deps lion_pytorch triton hf-doc-builder watchdog
## NOTE: conda peft is not up to date, so we install from pip
# cd pip install -e .  ## installs bitsandbytes as editable development install from within repo root dir

## ENV UPDATE:
# # add new packages to environment.yml, then:
# mamba env update -n bnb -f environment.yml
